# This is Git's per-user configuration file.
[includeIf "gitdir:~/Workspace/work/"]
    path = .gitconfig-work
[includeIf "gitdir:~/Workspace/xeco/"]
    path = .gitconfig-xeco
[pull]
    rebase = true
[push]
    default = simple
    recurseSubmodules = on-demand
[merge]
    tool = vimdiff
[diff]
    renameLimit = 10000
    algorithm = patience
[rerere]
    enabled = true
[rebase]
    autoStash = true
    missingCommitsCheck = error
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[core]
    editor = vim
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
