*{
    all: unset;
}

window {
    background-color: rgba(32, 32, 32, 0.8);
    color: rgb(240, 240, 240);
    font-family: JetBrainsMono Nerd Font;
    border-radius: 8px;
}

window>box {
    margin: 8px;
}

button {
    padding: 4px;
}

scale .top {
    font-size: 10px;
}
scale .bottom {
    font-size: 10px;
}

tooltip {
    font-size: 10px;
    background-color: #101010;
    border-radius: 4px;
}

.weather-icon {
    font-size: 48px;
    margin: 5px 20px;
}
.weather-temp {
    font-size: 16px;
    font-weight: bold;
}
.weather-stat {
    font-size: 12px;
    margin-top: 8px;
    font-weight: bold;
    color: #D35D6E;
}


.calendar {
    font-size: 12px;
    margin: 10px 20px;
}
.calendar-title {
    font-size: 16px;
    color: #FF9F1A;
    margin: 10px 20px;
}


.musicart {
    background-size: 80px;
    min-height: 80px;
    min-width: 80px;
    margin: 0px 0px 20px 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px #06060B;
}
.musicartist {
    font-size: 12px;
    font-weight: bold;
    min-width: 220px;
}
.musicinfo {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    min-width: 220px;
    color: #D35D6E;
}
.musicbuttonbox {
    font-size: 24px;
    padding-left: 12px;
}
.musicbuttonbox button {
    padding-right: 20px;
}
.musicbuttonbox button:hover {
    color: #D35D6E;
}
.pause-play {
    font-size: 36px;
    margin-right: 6px;
    color: #C47EB7;
}


.sliders {
    margin-left: 20px;
}

.sliders slider {
    color: #FFD5CD;
}

.slider-vol scale trough highlight {
	background-color: #C47EB7;
	color: #000000;
	border-radius: 8px;
}
.slider-mic scale trough highlight {
	background-color: #D35D6E;
	color: #000000;
	border-radius: 8px;
}
.slider-bright scale trough highlight {
	background-color: #FF9f1A;
	color: #000000;
	border-radius: 8px;
}
.slider-vol scale trough {
	background-color: #4E4E4E;
	border-radius: 8px;
	min-height: 12px;
    min-width: 240px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-mic scale trough {
	background-color: #4E4E4E;
	border-radius: 8px;
	min-height: 12px;
    min-width: 240px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-bright scale trough {
	background-color: #4E4E4E;
	border-radius: 8px;
	min-height: 12px;
    min-width: 240px;
    margin-top: 10px;
    margin-left: 17px;
}


.circulars {
    margin-top: 10px;
}

.circulars circular-progress {
    color: #FFD5CD;
}

.circular-cpu circular-progress {
	color: #90C861;
	background-color: #000000;
}
.circular-ram circular-progress {
	color: #2980B9;
	background-color: #000000;
}
.circular-disk-root circular-progress {
	color: #84AFDB;
	background-color: #000000;
}
.circular-disk-home circular-progress {
	color: #714EB3;
	background-color: #000000;
}


.label-cpu, .label-bright, .label-ram, .label-disk-root, .label-disk-home, .label-vol, .label-mic {
    margin-top: 10px;
    font-size: 20px;
}
.label-vol {
    color: #C47EB7;
}
.label-mic {
    color: #D35D6E;
}
.label-bright {
    color: #FF9F1A;
}
.label-ram {
    color: #2980B9;
}
.label-disk-root {
    color: #84AFDB;
}
.label-disk-home {
    color: #714EB3;
}
.label-cpu {
    color: #90C861;
}


.button-power {
    font-size: 13px;
    margin: 4px;
}
.button-power:hover {
    background-color: #4E4E4E;
    border-radius: 8px;
}

