*{
    all: unset;
}
window {
    background-color: rgba(32, 32, 32, 0.9);
    color: #ffd5cd;
    font-family: JetBrainsMono Nerd Font;
    border-radius: 8px;
}

button {
    all: unset;
    padding: 10px;
}


.time-side {
    margin: 10px 20px;
    font-size: 16px;
}
.clock-side {
    color: #D35D6E;
}
.day-side {
    font-size: 12px;
    font-weight: bold;
    color: #90c861;
}


.weather-icon-side {
    font-size: 50px;
    margin: 5px 20px;
}
.weather-temp-side {
    font-size: 16px;
    font-weight: bold;
}
.weather-stat-side {
    font-size: 12px;
    margin-top: 8px;
    font-weight: bold;
    color: #D35D6E;
}


.calendar-side {
    margin: 10px;
    font-size: 14px;
}
.calendar-side-title {
    margin: 20px 20px 0px 20px;
    font-size: 18px;
    color: #ff9f1a;
}


.player-side {
    margin: 4px;
}

.musicart-side {
    // background-image: url("/tmp/eww/spotify/cover.png");
    background-size: 80px;
    min-height: 80px;
    min-width: 80px;
    margin: 20px;
    border-radius: 8px;
}
.musicartist-side {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
    min-width: 200px;
}
.musicinfo-side {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 8px;
    min-width:200px;
    color: #D35D6E;
}
.musicbuttonbox-side {
    font-size: 24px;
    padding-left: 28px;
}
.musicbuttonbox-side button {
    padding-right: 24px;
}
.musicbuttonbox-side button:hover {
    color: #D35D6E;
}
.pause-play-side {
    font-size: 36px;
    color: #c47eb7;
}


.sliders-side slider {
    all: unset;
    color: #ffd5cd;
}

.slider-vol-side {
    margin-top: 10px;
}
.slider-vol-side scale trough highlight {
	all: unset;
	background-color: #c47eb7;
	color: #000000;
	border-radius: 8px;
}
.slider-bright-side scale trough highlight {
    all: unset;
	background-color: #ff9f1a;
	color: #000000;
	border-radius: 8px;
}
.slider-ram-side scale trough highlight {
    all: unset;
	background-color: #D35D6E;
	color: #000000;
	border-radius: 8px;
}
.slider-disk-root-side scale trough highlight {
    all: unset;
	background-color: #84afdb;
	color: #000000;
	border-radius: 8px;
}
.slider-disk-home-side scale trough highlight {
    all: unset;
	background-color: #714eb3;
	color: #000000;
	border-radius: 8px;
}
.slider-cpu-side scale trough highlight {
    all: unset;
	background-color: #90c861;
	color: #000000;
	border-radius: 8px;
}
.slider-vol-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
	min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-bright-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
	min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-ram-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
    min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-disk-root-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
    min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-disk-home-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
    min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}
.slider-cpu-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 8px;
	min-height: 16px;
    min-width: 260px;
    margin-top: 10px;
    margin-left: 17px;
}

.label-cpu-side, .label-bright-side, .label-ram-side, .label-disk-root-side, .label-disk-home-side, .label-vol-side {
    margin-top: 10px;
    margin-left: 35px;
    font-size: 28px;
}
.label-vol-side {
    color: #c47eb7;
}
.label-bright-side {
    color: #ff9f1a;
}
.label-ram-side {
    color: #D35D6E;
}
.label-disk-root-side {
    color: #84afdb;
}
.label-disk-home-side {
    color: #714eb3;
}
.label-cpu-side {
    color: #90c861;
}


.powerbutton-side button {
    font-size: 36px;
    margin: 0px 12px;
}
.powerbutton-side button:hover {
    color: #D35D6E;
}
.shutdown-side {
    color: #BB5D6E;
}
.reboot-side {
    color: #84afdb;
}
.lock-side {
    color: #ffd5cd;
}
.suspend-side {
    color: #c47eb7;
}
.logout-side {
    color: #90c861;
}

