@define-color colorUrgent #A00000;

window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

.modules-left, .modules-center, .modules-right {
    padding: 0px 8px;
    background-image: linear-gradient(90deg, rgba(186, 85, 211, 0.75), rgba(101, 217, 252, 0.75));
    border-radius: 12px;
}

tooltip {
    font-size: 12px;
    border-radius: 8px;
}

label:focus {
    background-color: black;
}


#workspaces button {
    font-size: 18px;
    margin: 0px 4px;
    background: transparent;
    color: black;
    border: 0px;
}

#workspaces button:hover {
    color: white;
}

#workspaces button.focused,
#workspaces button.active {
    color: white;
}

#workspaces button.urgent {
    color: @colorUrgent;
}


#mode,
#clock,
#battery,
#upower,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#cava,
#mpris,
#tray,
#mode,
#window,
#language,
#submap,
#privacy,
#custom-os,
#custom-vpn,
#custom-power {
    background: transparent;
    color: black;
    margin: 0px 8px;
    border: 0px;
}

#battery.charging, #battery.plugged, #upower.charging {
    color: #90C861;
}

@keyframes blink {
    to {
        color: black;
    }
}

#battery.critical:not(.charging), #upower.empty {
    color: @colorUrgent;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected, #pulseaudio.muted, #bluetooth.disabled, #custom-vpn.disconnected {
    color: #404040;
}

#temperature.critical {
    color: @colorUrgent;
}

#privacy-item {
    color: @colorUrgent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @colorUrgent;
}
