@define-color white rgb(240, 240, 240);
@define-color black rgb(16, 16, 16);
@define-color red   rgb(194, 59, 35);

* {
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @white;
}

window#waybar > box {
    margin: 4px 8px 6px 8px;
    padding: 0px 2px;
    background-color: rgba(32, 32, 32, 0.75);
    border-radius: 8px;
    box-shadow: 4px 4px 2px 1px #101010;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

label:focus {
    background-color: @black;
}

#window,
#workspaces {
    margin: 2px 2px;
}

#workspaces button {
    padding: 0px 8px;
    margin: 0px 2px;
    background-color: transparent;
    color: @white;
    border-radius: 4px;
}

#workspaces button:hover {
    background: rgba(100, 114, 125, 0.6);
}

#workspaces button.focused {
    background-color: rgba(240, 240, 240, 0.9);
    color: @red;
    border-bottom: 3px solid @red;
}


#workspaces button.active {
    background-color: rgba(240, 240, 240, 0.9);
    color: @red;
    border-bottom: 3px solid @red;
}


#workspaces button.urgent {
    background-color: @red;
    color: @white;
}

#mode {
    background-color: rgb(100, 114, 125);
}

#clock,
#battery,
#upower,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-os,
#custom-vpn,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#language {
    padding: 0px 8px;
    margin: 2px 2px;
    color: @white;
    border-radius: 4px;
}

#clock {
    background-color: transparent;
}

#battery, #upower {
    background-color: rgba(240, 240, 240, 0.8);
    color: @black;
}

#battery.charging, #battery.plugged, #upower.charging {
    background-color: rgba(38, 166, 91, 0.8);
    color: @white;
}

@keyframes blink {
    to {
        background-color: rgba(240, 240, 240, 0.8);
        color: @black;
    }
}

#battery.critical:not(.charging), #upower.empty {
    background-color: rgba(245, 60, 60, 0.8);
    color: @white;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: rgba(46, 204, 113, 0.8);
    color: @black;
}

#memory {
    background-color: rgba(155, 89, 182, 0.8);
}

#disk {
    background-color: rgba(150, 75, 0, 0.8);
}

#disk.home {
    background-color: rgba(154, 154, 154, 0.8);
    color: @black;
}

#backlight {
    background-color: rgba(144, 177, 177, 0.8);
    color: @black;
}

#network {
    background-color: rgba(144, 200, 97, 0.8);
    color: @black;
}

#network.disconnected {
    background-color: rgba(245, 60, 60, 0.6);
}

#pulseaudio {
    background-color: rgba(196, 126, 183, 0.8);
    color: @black;
}

#pulseaudio.muted {
    background-color: rgba(196, 126, 183, 0.6);
}

#bluetooth {
    background-color: rgba(65, 105, 225, 0.8);
}

#bluetooth.disabled {
    background-color: rgba(65, 105, 225, 0.6);
}

#custom-vpn {
    background-color: rgba(102, 204, 153, 0.8);
    color: @black;
}

#custom-vpn.disconnected {
    background-color: rgba(102, 204, 153, 0.6);
}

#custom-media {
    background-color: rgba(102, 204, 153, 0.8);
    color: @black;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: rgba(102, 204, 153, 0.8);
}

#custom-media.custom-vlc {
    background-color: rgba(255, 160, 0, 0.8);
}

#custom-power {
    background-color: rgba(69, 69, 69, 0.8);
}

#custom-os {
    min-width: 24px;
    background-color: rgba(23, 147, 209, 0.8);
}

#temperature {
    background-color: rgba(240, 147, 43, 0.8);
    color: @black;
}

#temperature.critical {
    background-color: rgba(235, 77, 75, 0.8);
}

#tray {
    background-color: rgba(41, 128, 185, 0.8);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(255, 77, 75, 0.8);
}

#idle_inhibitor {
    background-color: rgba(45, 52, 54, 0.6);
}

#idle_inhibitor.activated {
    background-color: rgba(236, 240, 241, 0.8);
    color: #2d3436;
}

#language {
    background-color: rgba(0, 176, 147, 0.8);
    color: @black;
}
