window {
    background-color: transparent;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    background-image: linear-gradient(120deg, rgba(186, 85, 211, 0.75), rgba(6, 227, 126, 0.75));
    border-radius: 12px;
    color: black;
}

#input {
    font-size: 14px;
    margin: 16px;
    padding: 8px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.6);
}

#inner-box {
    margin: 0px 16px 16px 16px;
}

#scroll label {
    margin: 2px 8px;
}

#entry {
    padding: 2px 8px;
    margin: 2px;
}

#entry:selected {
    border-radius: 8px;
}

#entry list {
    border-radius: 8px;
    background-color: transparent;
}

#entry image {
    background-color: transparent;
}
