@define-color white #F0F0F0;
@define-color black #101010;
@define-color grey  #808080;

*{
    all: unset;
}

window {
    background-color: transparent;
    color: @white;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;

}

#input {
    margin: 8px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid @black;
}

#outer-box {
    margin: 8px;
    background-color: rgba(32, 32, 32, 0.8);
    border-radius: 12px;
    box-shadow: 4px 4px 2px 1px @black;
}

#inner-box {
    margin: 8px;
    padding: 8px;
    background-color: rgba(48, 48, 48, 0.6);
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px @black;
}

#scroll label {
    margin: 2px 8px;
}

#entry {
    padding: 2px 8px;
    margin: 2px;
}

#entry:selected {
    border-radius: 8px;
    background-color: @grey;
    color: @black;
}
