window {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
}

#input {
    margin: 8px;
    border: 2px solid rgba(0, 0, 0, 0.9);
}

#outer-box {
    margin: 16px;
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 8px;
    box-shadow: 8px 8px 4px 1px #101010;
}

#inner-box {
    margin: 8px;
}

#text {
    font-size: 12px;
}

#scroll {
    margin: 8px 0px;
    font-size: 12px;
    color: rgba(172, 172, 172, 1);
}

#scroll label {
    margin: 2px 8px;
}

#entry:selected {
    border-radius: 4px;
    background-color: rgba(78, 78, 78, 0.9);
}
